In [200]:
import pandas as pd
import plotly.graph_objects as go
import requests
import matplotlib.pyplot as plt
import json
import matplotlib.animation as animation
import numpy as np
import plotly.express as px
import plotly.graph_objects as go

I scrapped test batting records of Pujara, Rohit, Kohli and Rahane from their respective cricinfo pages. For reference page of rohit sharma is given here https://stats.espncricinfo.com/ci/engine/player/34102.html?class=1;template=results;type=batting;view=innings

In [201]:
pujara = pd.read_csv('pujaratest.csv')

In [202]:
pujara.head()

,Runs,Mins,BF,4s,6s,SR,Pos,Dismissal,Inns,Unnamed: 9,Opposition,Ground,Start Date,Unnamed: 13
0,4,3,3,1,0,133.33,5,lbw,2,NaN,v Australia,Bengaluru,9 Oct 2010,Test # 1973
1,72,129,89,7,0,80.89,3,bowled,4,NaN,v Australia,Bengaluru,9 Oct 2010,Test # 1973
2,19,54,45,3,0,42.22,6,caught,1,NaN,v South Africa,Durban,26 Dec 2010,Test # 1987
3,10,81,56,1,0,17.85,6,bowled,3,NaN,v South Africa,Durban,26 Dec 2010,Test # 1987
4,2,17,14,0,0,14.28,6,lbw,2,NaN,v South Africa,Cape Town,2 Jan 2011,Test # 1988

In [203]:
def processtest(pujara,name):
    pujara['notout']= pujara.Runs.str.contains('DNB')|pujara.Runs.str.contains('\*')
    pujara.Runs = np.where(pujara.Runs.str.contains('DNB'),0,pujara.Runs)
    pujara.Runs = pujara.Runs.str.replace('\*','')
    pujara.Runs = pujara.Runs.fillna(0)
    pujara.Runs = pujara.Runs.astype(int)
    pujara['totalruns'] =pujara.Runs.cumsum()
    pujara['out'] =~pujara.notout
    pujara['completedinn']=pujara.out.cumsum()
    pujara['avg'] =pujara.totalruns/pujara.completedinn
    pujara['Date']= pd.to_datetime(pujara['Start Date'])
    pujara = pujara.drop_duplicates(subset='Date', keep='last')
    pujara['Date2']=pujara.Date.dt.strftime('%d/%m/%y')
    pujara['name'] = name
    return pujara

In [204]:
pujara = processtest(pujara,'Pujara')

/home/rohit/Desktop/virtual_environments/sebi/lib/python3.6/site-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/home/rohit/Desktop/virtual_environments/sebi/lib/python3.6/site-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [205]:
kohli = pd.read_csv('kohlitest.csv')

In [206]:
kohli = processtest(kohli,'Kohli')

/home/rohit/Desktop/virtual_environments/sebi/lib/python3.6/site-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/home/rohit/Desktop/virtual_environments/sebi/lib/python3.6/site-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [207]:
rahane = pd.read_csv('rahanetest.csv')

In [208]:
rahane = processtest(rahane,'Rahane')

/home/rohit/Desktop/virtual_environments/sebi/lib/python3.6/site-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/home/rohit/Desktop/virtual_environments/sebi/lib/python3.6/site-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [209]:
rohit = pd.read_csv('rohittest.csv')

In [210]:
rohit = processtest(rohit,'Rohit')

/home/rohit/Desktop/virtual_environments/sebi/lib/python3.6/site-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/home/rohit/Desktop/virtual_environments/sebi/lib/python3.6/site-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [211]:
def createfinaldf(listdf):
    datesindex = np.unique(np.hstack([x.Date.values for x in listdf]))
    indexdf = pd.DataFrame({'Date':datesindex})
    listdf2 = []
    for x in listdf:
        merged = pd.merge(x,indexdf,how='right', on='Date' )
        merged = merged.sort_values('Date')
        merged.name = merged.name.fillna(method='bfill')
        merged = merged.fillna(method='ffill')
        merged = merged.fillna(0)
        listdf2.append(merged)
    mergedf = pd.concat(listdf2)
    mergedf['Date2']=mergedf.Date.dt.strftime('%d/%m/%y')
    mergedf['legend']= mergedf.name
    return mergedf

In [212]:
finaldf =createfinaldf([pujara,rohit,kohli, rahane])

finaldf

,Runs,Mins,BF,4s,6s,SR,Pos,Dismissal,Inns,Unnamed: 9,...,Unnamed: 13,notout,totalruns,out,completedinn,avg,Date,Date2,name,legend
0,72.0,129,89,7,0,80.89,3,bowled,4,0.0,...,Test # 1973,False,76.0,True,2.0,38.000000,2010-10-09,09/10/10,Pujara,Pujara
1,10.0,81,56,1,0,17.85,6,bowled,3,0.0,...,Test # 1987,False,105.0,True,4.0,26.250000,2010-12-26,26/12/10,Pujara,Pujara
2,0.0,-,-,-,-,-,-,-,4,0.0,...,Test # 1988,True,107.0,False,5.0,21.400000,2011-01-02,02/01/11,Pujara,Pujara
103,0.0,-,-,-,-,-,-,-,4,0.0,...,Test # 1988,True,107.0,False,5.0,21.400000,2011-06-20,20/06/11,Pujara,Pujara
104,0.0,-,-,-,-,-,-,-,4,0.0,...,Test # 1988,True,107.0,False,5.0,21.400000,2011-06-28,28/06/11,Pujara,Pujara
105,0.0,-,-,-,-,-,-,-,4,0.0,...,Test # 1988,True,107.0,False,5.0,21.400000,2011-07-06,06/07/11,Pujara,Pujara
106,0.0,-,-,-,-,-,-,-,4,0.0,...,Test # 1988,True,107.0,False,5.0,21.400000,2011-11-22,22/11/11,Pujara,Pujara
107,0.0,-,-,-,-,-,-,-,4,0.0,...,Test # 1988,True,107.0,False,5.0,21.400000,2011-12-26,26/12/11,Pujara,Pujara
108,0.0,-,-,-,-,-,-,-,4,0.0,...,Test # 1988,True,107.0,False,5.0,21.400000,2012-01-03,03/01/12,Pujara,Pujara
109,0.0,-,-,-,-,-,-,-,4,0.0,...,Test # 1988,True,107.0,False,5.0,21.400000,2012-01-13,13/01/12,Pujara,Pujara
110,0.0,-,-,-,-,-,-,-,4,0.0,...,Test # 1988,True,107.0,False,5.0,21.400000,2012-01-24,24/01/12,Pujara,Pujara
3,159.0,468,306,19,1,51.96,3,caught,1,0.0,...,Test # 2054,False,266.0,True,6.0,44.333333,2012-08-23,23/08/12,Pujara,Pujara
4,48.0,122,104,7,0,46.15,3,caught,4,0.0,...,Test # 2055,False,323.0,True,8.0,40.375000,2012-08-31,31/08/12,Pujara,Pujara
5,41.0,51,51,8,0,80.39,2,not out,4,0.0,...,Test # 2058,True,570.0,False,8.0,71.250000,2012-11-15,15/11/12,Pujara,Pujara
6,6.0,6,5,1,0,120,3,caught,3,0.0,...,Test # 2062,False,711.0,True,10.0,71.100000,2012-11-23,23/11/12,Pujara,Pujara
7,8.0,31,22,2,0,36.36,3,run out,3,0.0,...,Test # 2065,False,735.0,True,12.0,61.250000,2012-12-05,05/12/12,Pujara,Pujara
8,26.0,87,72,3,0,36.11,3,caught,2,0.0,...,Test # 2066,False,761.0,True,13.0,58.538462,2012-12-13,13/12/12,Pujara,Pujara
9,8.0,35,24,0,0,33.33,3,not out,4,0.0,...,Test # 2074,True,813.0,False,14.0,58.071429,2013-02-22,22/02/13,Pujara,Pujara
10,204.0,450,341,30,1,59.82,3,caught,2,0.0,...,Test # 2076,False,1017.0,True,15.0,67.800000,2013-03-02,02/03/13,Pujara,Pujara
11,28.0,82,51,5,0,54.9,2,lbw,4,0.0,...,Test # 2081,False,1046.0,True,17.0,61.529412,2013-03-14,14/03/13,Pujara,Pujara
12,82.0,123,92,11,0,89.13,2,not out,4,0.0,...,Test # 2085,True,1180.0,False,18.0,65.555556,2013-03-22,22/03/13,Pujara,Pujara
13,17.0,64,36,2,0,47.22,3,caught,2,0.0,...,Test # 2101,False,1197.0,True,19.0,63.000000,2013-11-06,06/11/13,Pujara,Pujara
14,113.0,264,167,12,0,67.66,3,caught,2,0.0,...,Test # 2102,False,1310.0,True,20.0,65.500000,2013-11-14,14/11/13,Pujara,Pujara
15,153.0,353,270,21,0,56.66,3,caught,3,0.0,...,Test # 2108,False,1488.0,True,22.0,67.636364,2013-12-18,18/12/13,Pujara,Pujara
16,32.0,137,100,4,0,32,3,bowled,3,0.0,...,Test # 2111,False,1590.0,True,24.0,66.250000,2013-12-26,26/12/13,Pujara,Pujara
17,23.0,91,71,1,1,32.39,3,caught,4,0.0,...,Test # 2118,False,1614.0,True,26.0,62.076923,2014-02-06,06/02/14,Pujara,Pujara
18,17.0,75,50,3,0,34,3,caught,4,0.0,...,Test # 2120,False,1650.0,True,28.0,58.928571,2014-02-14,14/02/14,Pujara,Pujara
19,55.0,124,101,7,0,54.45,3,caught,3,0.0,...,Test # 2128,False,1743.0,True,30.0,58.100000,2014-07-09,09/07/14,Pujara,Pujara
20,43.0,126,83,7,0,51.8,3,caught,3,0.0,...,Test # 2130,False,1814.0,True,32.0,56.687500,2014-07-17,17/07/14,Pujara,Pujara
21,2.0,6,6,0,0,33.33,3,caught,4,0.0,...,Test # 2132,False,1840.0,True,34.0,54.117647,2014-07-27,27/07/14,Pujara,Pujara
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63,29.0,131,75,5,0,38.66,5,caught,3,0.0,...,Test # 2385,False,4187.0,True,96.0,43.614583,2020-02-21,21/02/20,Rahane,Rahane
64,9.0,59,43,1,0,20.93,5,bowled,3,0.0,...,Test # 2387,False,4203.0,True,98.0,42.887755,2020-02-29,29/02/20,Rahane,Rahane
65,0.0,3,4,0,0,0,6,caught,3,0.0,...,Test # 2396,False,4245.0,True,100.0,42.450000,2020-12-17,17/12/20,Rahane,Rahane
66,27.0,42,40,3,0,67.5,4,not out,4,0.0,...,Test # 2398,True,4384.0,False,101.0,43.405941,2020-12-26,26/12/20,Rahane,Rahane
67,4.0,22,18,0,0,22.22,4,caught,4,0.0,...,Test # 2402,False,4410.0,True,103.0,42.815534,2021-01-07,07/01/21,Rahane,Rahane
68,24.0,44,22,1,1,109.09,4,caught,4,0.0,...,Test # 2404,False,4471.0,True,105.0,42.580952,2021-01-15,15/01/21,Rahane,Rahane
69,0.0,5,3,0,0,0,5,bowled,4,0.0,...,Test # 2409,False,4472.0,True,107.0,41.794393,2021-02-05,05/02/21,Rahane,Rahane
70,10.0,21,14,2,0,71.42,6,caught,3,0.0,...,Test # 2411,False,4549.0,True,109.0,41.733945,2021-02-13,13/02/21,Rahane,Rahane
71,0.0,-,-,-,-,-,-,-,4,0.0,...,Test # 2412,True,4556.0,False,110.0,41.418182,2021-02-24,24/02/21,Rahane,Rahane
72,27.0,54,45,4,0,60,5,caught,2,0.0,...,Test # 2414,False,4583.0,True,111.0,41.288288,2021-03-04,04/03/21,Rahane,Rahane
73,15.0,69,40,1,0,37.5,5,caught,3,0.0,...,Test # 2425,False,4647.0,True,113.0,41.123894,2021-06-18,18/06/21,Rahane,Rahane
74,0.0,-,-,-,-,-,-,-,4,0.0,...,Test # 2428,True,4652.0,False,114.0,40.807018,2021-08-04,04/08/21,Rahane,Rahane
75,61.0,238,146,5,0,41.78,5,caught,3,0.0,...,Test # 2429,False,4714.0,True,116.0,40.637931,2021-08-12,12/08/21,Rahane,Rahane
76,10.0,40,25,2,0,40,5,caught,3,0.0,...,Test # 2432,False,4742.0,True,118.0,40.186441,2021-08-25,25/08/21,Rahane,Rahane
77,0.0,11,8,0,0,0,6,lbw,3,0.0,...,Test # 2433,False,4756.0,True,120.0,39.633333,2021-09-02,02/09/21,Rahane,Rahane
78,4.0,19,15,1,0,26.66,4,lbw,3,0.0,...,Test # 2435,False,4795.0,True,122.0,39.303279,2021-11-25,25/11/21,Rahane,Rahane
109,4.0,19,15,1,0,26.66,4,lbw,3,0.0,...,Test # 2435,False,4795.0,True,122.0,39.303279,2021-12-03,03/12/21,Rahane,Rahane
79,20.0,33,23,3,1,86.95,6,caught,3,0.0,...,Test # 2443,False,4863.0,True,124.0,39.217742,2021-12-26,26/12/21,Rahane,Rahane
80,58.0,105,78,8,1,74.35,4,caught,3,0.0,...,Test # 2445,False,4921.0,True,126.0,39.055556,2022-01-03,03/01/22,Rahane,Rahane
81,1.0,10,9,0,0,11.11,5,caught,3,0.0,...,Test # 2448,False,4931.0,True,128.0,38.523438,2022-01-11,11/01/22,Rahane,Rahane
110,1.0,10,9,0,0,11.11,5,caught,3,0.0,...,Test # 2448,False,4931.0,True,128.0,38.523438,2022-03-04,04/03/22,Rahane,Rahane
111,1.0,10,9,0,0,11.11,5,caught,3,0.0,...,Test # 2448,False,4931.0,True,128.0,38.523438,2022-03-12,12/03/22,Rahane,Rahane
112,1.0,10,9,0,0,11.11,5,caught,3,0.0,...,Test # 2448,False,4931.0,True,128.0,38.523438,2022-07-01,01/07/22,Rahane,Rahane
113,1.0,10,9,0,0,11.11,5,caught,3,0.0,...,Test # 2448,False,4931.0,True,128.0,38.523438,2022-12-14,14/12/22,Rahane,Rahane
114,1.0,10,9,0,0,11.11,5,caught,3,0.0,...,Test # 2448,False,4931.0,True,128.0,38.523438,2022-12-22,22/12/22,Rahane,Rahane
115,1.0,10,9,0,0,11.11,5,caught,3,0.0,...,Test # 2448,False,4931.0,True,128.0,38.523438,2023-02-09,09/02/23,Rahane,Rahane
116,1.0,10,9,0,0,11.11,5,caught,3,0.0,...,Test # 2448,False,4931.0,True,128.0,38.523438,2023-02-17,17/02/23,Rahane,Rahane
117,1.0,10,9,0,0,11.11,5,caught,3,0.0,...,Test # 2448,False,4931.0,True,128.0,38.523438,2023-03-01,01/03/23,Rahane,Rahane
118,1.0,10,9,0,0,11.11,5,caught,3,0.0,...,Test # 2448,False,4931.0,True,128.0,38.523438,2023-03-09,09/03/23,Rahane,Rahane
82,46.0,161,108,7,0,42.59,5,caught,4,0.0,...,Test # 2505,False,5066.0,True,130.0,38.969231,2023-06-07,07/06/23,Rahane,Rahane

In [213]:
fig = px.scatter(finaldf,x='totalruns', y = 'avg', animation_frame='Date2', text='name', color= 'name',animation_group='name',range_x=[0,10000], range_y=[0,70])
fig.update_layout(showlegend=True)
fig.update_traces(marker=dict(size=30))
fig.write_html("chart.html")